---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/search/photos?client_id=jhO_cX_NxPFBajRYnXyXmkp31VpOlJNA_iHcEFLMuCs&per_page=1&query=orlando
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Unsplash-Version:
      - v1
      Warning:
      - The tags property in this endpoint is deprecated. https://changelog.unsplash.com/deprecations/2021/07/12/tags-search-deprecation.html
      Link:
      - <https://api.unsplash.com/search/photos?client_id=jhO_cX_NxPFBajRYnXyXmkp31VpOlJNA_iHcEFLMuCs&page=1158&per_page=1&query=orlando>;
        rel="last", <https://api.unsplash.com/search/photos?client_id=jhO_cX_NxPFBajRYnXyXmkp31VpOlJNA_iHcEFLMuCs&page=2&per_page=1&query=orlando>;
        rel="next"
      X-Total:
      - '1158'
      X-Per-Page:
      - '1'
      Etag:
      - W/"b79f0d44496276b8cef2d7eceb10cb04"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: '{"total":1158,"total_pages":1158,"results":[{"id":"z4ky2zXIjDM","created_at":"2020-08-15T01:36:50-04:00","updated_at":"2021-11-16T12:20:04-05:00","promoted_at":null,"width":2000,"height":2500,"color":"#d9f3f3","blur_hash":"LkLX}UR,tmjY.TWBV@WB$LayVskC","description":"The
        Magical castle in the Magic Kingdom theme park of Disney world in Orlando,
        Florida.","alt_description":"white and blue castle under blue sky and white
        clouds during daytime","urls":{"raw":"https://images.unsplash.com/photo-1597466599360-3b9775841aec?ixid=MnwyNzU5MDV8MHwxfHNlYXJjaHwxfHxvcmxhbmRvfGVufDB8fHx8MTYzNzE1NDA1Ng\u0026ixlib=rb-1.2.1","full":"https://images.unsplash.com/photo-1597466599360-3b9775841aec?crop=entropy\u0026cs=srgb\u0026fm=jpg\u0026ixid=MnwyNzU5MDV8MHwxfHNlYXJjaHwxfHxvcmxhbmRvfGVufDB8fHx8MTYzNzE1NDA1Ng\u0026ixlib=rb-1.2.1\u0026q=85","regular":"https://images.unsplash.com/photo-1597466599360-3b9775841aec?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyNzU5MDV8MHwxfHNlYXJjaHwxfHxvcmxhbmRvfGVufDB8fHx8MTYzNzE1NDA1Ng\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=1080","small":"https://images.unsplash.com/photo-1597466599360-3b9775841aec?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyNzU5MDV8MHwxfHNlYXJjaHwxfHxvcmxhbmRvfGVufDB8fHx8MTYzNzE1NDA1Ng\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=400","thumb":"https://images.unsplash.com/photo-1597466599360-3b9775841aec?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyNzU5MDV8MHwxfHNlYXJjaHwxfHxvcmxhbmRvfGVufDB8fHx8MTYzNzE1NDA1Ng\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=200"},"links":{"self":"https://api.unsplash.com/photos/z4ky2zXIjDM","html":"https://unsplash.com/photos/z4ky2zXIjDM","download":"https://unsplash.com/photos/z4ky2zXIjDM/download?ixid=MnwyNzU5MDV8MHwxfHNlYXJjaHwxfHxvcmxhbmRvfGVufDB8fHx8MTYzNzE1NDA1Ng","download_location":"https://api.unsplash.com/photos/z4ky2zXIjDM/download?ixid=MnwyNzU5MDV8MHwxfHNlYXJjaHwxfHxvcmxhbmRvfGVufDB8fHx8MTYzNzE1NDA1Ng"},"categories":[],"likes":223,"liked_by_user":false,"current_user_collections":[],"sponsorship":null,"topic_submissions":{"wallpapers":{"status":"rejected"},"travel":{"status":"approved","approved_on":"2020-08-19T07:54:19-04:00"},"architecture":{"status":"rejected"}},"user":{"id":"1t8NGvvnyio","updated_at":"2021-11-17T04:43:26-05:00","username":"kitera","name":"Kitera
        Dent","first_name":"Kitera","last_name":"Dent","twitter_username":null,"portfolio_url":"https://kiteradent.com","bio":"Photographer,
        Designer \u0026 Creative Director.\r\nFollow my client and portrait work @kiteradent","location":"San
        Francisco Bay Area, California","links":{"self":"https://api.unsplash.com/users/kitera","html":"https://unsplash.com/@kitera","photos":"https://api.unsplash.com/users/kitera/photos","likes":"https://api.unsplash.com/users/kitera/likes","portfolio":"https://api.unsplash.com/users/kitera/portfolio","following":"https://api.unsplash.com/users/kitera/following","followers":"https://api.unsplash.com/users/kitera/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-fb-1595387182-bbf379d9f827.jpg?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=32\u0026w=32","medium":"https://images.unsplash.com/profile-fb-1595387182-bbf379d9f827.jpg?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=64\u0026w=64","large":"https://images.unsplash.com/profile-fb-1595387182-bbf379d9f827.jpg?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=128\u0026w=128"},"instagram_username":"kiteradent","total_collections":7,"total_likes":3,"total_photos":136,"accepted_tos":true,"for_hire":true,"social":{"instagram_username":"kiteradent","portfolio_url":"https://kiteradent.com","twitter_username":null,"paypal_email":null}},"tags":[{"type":"search","title":"orlando"},{"type":"search","title":"disney"},{"type":"search","title":"magic
        kingdom park"}]}]}'
  recorded_at: Wed, 17 Nov 2021 15:41:33 GMT
recorded_with: VCR 6.0.0
