---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=3pduWtNsjnLaNyc87rGvc9nAfQmav6QG&location=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Wed, 17 Nov 2021 15:41:35 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"denver,co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282041090","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=3pduWtNsjnLaNyc87rGvc9nAfQmav6QG&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-829457019"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A4XAX","geocodeQuality":"COUNTY","dragPoint":false,"sideOfStreet":"N","linkId":"282932003","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=3pduWtNsjnLaNyc87rGvc9nAfQmav6QG&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-2&scalebar=true&zoom=9&rand=1006213419"}]}]}'
  recorded_at: Wed, 17 Nov 2021 15:41:35 GMT
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/onecall?appid=ef537e09f0f6c5145be56859f0f6b253&exclude=minutely,alerts&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1637163695,"sunrise":1637156837,"sunset":1637192577,"temp":28.62,"feels_like":21.47,"pressure":1022,"humidity":66,"dew_point":19.83,"uvi":0.72,"clouds":73,"visibility":10000,"wind_speed":6.93,"wind_deg":61,"wind_gust":5.44,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}]},"hourly":[{"dt":1637161200,"temp":29.34,"feels_like":22.5,"pressure":1023,"humidity":62,"dew_point":19.22,"uvi":0.22,"clouds":77,"visibility":10000,"wind_speed":6.71,"wind_deg":68,"wind_gust":5.79,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0},{"dt":1637164800,"temp":28.62,"feels_like":21.47,"pressure":1022,"humidity":66,"dew_point":19.83,"uvi":0.72,"clouds":73,"visibility":10000,"wind_speed":6.93,"wind_deg":61,"wind_gust":5.44,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0},{"dt":1637168400,"temp":29.88,"feels_like":22.57,"pressure":1023,"humidity":60,"dew_point":19.06,"uvi":1.43,"clouds":72,"visibility":10000,"wind_speed":7.54,"wind_deg":63,"wind_gust":5.26,"weather":[{"id":803,"[...]
