---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/onecall?appid=ef537e09f0f6c5145be56859f0f6b253&exclude=minutely,alerts&lat=40.039401&lon=-76.307078&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":40.0394,"lon":-76.3071,"timezone":"America/New_York","timezone_offset":-18000,"current":{"dt":1638052979,"sunrise":1638014660,"sunset":1638049319,"temp":34.56,"feels_like":30.43,"pressure":1015,"humidity":51,"dew_point":19.83,"uvi":0,"clouds":1,"visibility":10000,"wind_speed":4.61,"wind_deg":280,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}]},"hourly":[{"dt":1638050400,"temp":34.34,"feels_like":28.09,"pressure":1015,"humidity":53,"dew_point":20.46,"uvi":0,"clouds":18,"visibility":10000,"wind_speed":7.36,"wind_deg":272,"wind_gust":18.03,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02n"}],"pop":0},{"dt":1638054000,"temp":34.56,"feels_like":28.72,"pressure":1015,"humidity":51,"dew_point":19.83,"uvi":0,"clouds":1,"visibility":10000,"wind_speed":6.78,"wind_deg":277,"wind_gust":19.28,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"pop":0},{"dt":1638057600,"temp":34.3,"feels_like":28.83,"pressure":1015,"humidity":53,"dew_point":20.43,"uvi":0,"clouds":18,"visibility":10000,"wind_speed":6.2,"wind_deg":277,"wind_gust":18.95,"weather":[{"id":801,"main":"Clo[...]
