---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/onecall?appid=ef537e09f0f6c5145be56859f0f6b253&exclude=minutely,alerts&lat=40.039401&lon=-76.307078&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":40.0394,"lon":-76.3071,"timezone":"America/New_York","timezone_offset":-18000,"current":{"dt":1636944509,"sunrise":1636890584,"sunset":1636926594,"temp":39.33,"feels_like":39.33,"pressure":1009,"humidity":84,"dew_point":34.9,"uvi":0,"clouds":75,"visibility":10000,"wind_speed":1.99,"wind_deg":121,"wind_gust":1.99,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}]},"hourly":[{"dt":1636941600,"temp":40.03,"feels_like":33.96,"pressure":1009,"humidity":79,"dew_point":34.05,"uvi":0,"clouds":80,"visibility":10000,"wind_speed":9.37,"wind_deg":201,"wind_gust":23.82,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}],"pop":0.28},{"dt":1636945200,"temp":39.33,"feels_like":33.67,"pressure":1009,"humidity":84,"dew_point":34.9,"uvi":0,"clouds":75,"visibility":10000,"wind_speed":8.16,"wind_deg":215,"wind_gust":21.09,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}],"pop":0.21},{"dt":1636948800,"temp":39.76,"feels_like":35.28,"pressure":1009,"humidity":81,"dew_point":34.41,"uvi":0,"clouds":80,"visibility":10000,"wind_speed":6.31,"wind_deg":227,"wind_gust":17.4,"weather":[{"id":803[...]
[...]
