---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/onecall?appid=ef537e09f0f6c5145be56859f0f6b253&exclude=minutely,alerts&lat=40.039401&lon=-76.307078&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":40.0394,"lon":-76.3071,"timezone":"America/New_York","timezone_offset":-18000,"current":{"dt":1637163696,"sunrise":1637149992,"sunset":1637185655,"temp":46.99,"feels_like":46.99,"pressure":1024,"humidity":76,"dew_point":39.83,"uvi":1.16,"clouds":90,"visibility":10000,"wind_speed":1.99,"wind_deg":265,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},"hourly":[{"dt":1637161200,"temp":46.89,"feels_like":43.14,"pressure":1024,"humidity":74,"dew_point":39.06,"uvi":0.98,"clouds":92,"visibility":10000,"wind_speed":7.61,"wind_deg":146,"wind_gust":12.8,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0},{"dt":1637164800,"temp":46.99,"feels_like":43.36,"pressure":1024,"humidity":76,"dew_point":39.83,"uvi":1.16,"clouds":90,"visibility":10000,"wind_speed":7.43,"wind_deg":162,"wind_gust":12.93,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0},{"dt":1637168400,"temp":47.61,"feels_like":44.37,"pressure":1024,"humidity":75,"dew_point":40.08,"uvi":1.33,"clouds":92,"visibility":10000,"wind_speed":6.87,"wind_deg":167,"wind_gust":12.71,"weather":[{"id"[...]
