---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/onecall?appid=ef537e09f0f6c5145be56859f0f6b253&exclude=minutely,alerts&lat=40.039401&lon=-76.307078&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":40.0394,"lon":-76.3071,"timezone":"America/New_York","timezone_offset":-18000,"current":{"dt":1637002616,"sunrise":1636977053,"sunset":1637012946,"temp":45.77,"feels_like":44.89,"pressure":1012,"humidity":64,"dew_point":34.3,"uvi":1,"clouds":69,"visibility":10000,"wind_speed":3,"wind_deg":316,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}]},"hourly":[{"dt":1636999200,"temp":45.7,"feels_like":37.94,"pressure":1012,"humidity":65,"dew_point":34.63,"uvi":0.78,"clouds":68,"visibility":10000,"wind_speed":20.11,"wind_deg":290,"wind_gust":30.44,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0},{"dt":1637002800,"temp":45.77,"feels_like":38.12,"pressure":1012,"humidity":64,"dew_point":34.3,"uvi":1,"clouds":69,"visibility":10000,"wind_speed":19.66,"wind_deg":293,"wind_gust":30.13,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0.01},{"dt":1637006400,"temp":45.54,"feels_like":37.98,"pressure":1012,"humidity":63,"dew_point":33.69,"uvi":0.53,"clouds":63,"visibility":10000,"wind_speed":18.9,"wind_deg":291,"wind_gust":30.56,"weather":[{"id":8[...]
