---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/onecall?appid=ef537e09f0f6c5145be56859f0f6b253&exclude=minutely,alerts&lat=40.039401&lon=-76.307078&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":40.0394,"lon":-76.3071,"timezone":"America/New_York","timezone_offset":-18000,"current":{"dt":1637080997,"sunrise":1637063523,"sunset":1637099300,"temp":45.72,"feels_like":45.72,"pressure":1022,"humidity":58,"dew_point":31.84,"uvi":1.88,"clouds":1,"visibility":10000,"wind_speed":1.99,"wind_deg":226,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"hourly":[{"dt":1637078400,"temp":45.16,"feels_like":39.88,"pressure":1022,"humidity":57,"dew_point":30.99,"uvi":1.65,"clouds":3,"visibility":10000,"wind_speed":10.42,"wind_deg":284,"wind_gust":13.91,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1637082000,"temp":45.72,"feels_like":40.15,"pressure":1022,"humidity":58,"dew_point":31.84,"uvi":1.88,"clouds":1,"visibility":10000,"wind_speed":11.63,"wind_deg":287,"wind_gust":15.43,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1637085600,"temp":45.64,"feels_like":39.96,"pressure":1022,"humidity":56,"dew_point":31.01,"uvi":1.72,"clouds":2,"visibility":10000,"wind_speed":11.95,"wind_deg":291,"wind_gust":16.28,"weather":[{"id":800,"m[...]
