---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/onecall?appid=ef537e09f0f6c5145be56859f0f6b253&exclude=minutely,alerts&lat=40.039401&lon=-76.307078&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":40.0394,"lon":-76.3071,"timezone":"America/New_York","timezone_offset":-18000,"current":{"dt":1637087912,"sunrise":1637063523,"sunset":1637099300,"temp":48.15,"feels_like":47.59,"pressure":1020,"humidity":52,"dew_point":31.44,"uvi":1.26,"clouds":20,"visibility":10000,"wind_speed":3,"wind_deg":170,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}]},"hourly":[{"dt":1637085600,"temp":47.59,"feels_like":42.4,"pressure":1020,"humidity":51,"dew_point":30.56,"uvi":1.71,"clouds":18,"visibility":10000,"wind_speed":11.95,"wind_deg":291,"wind_gust":16.28,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}],"pop":0},{"dt":1637089200,"temp":48.15,"feels_like":43.16,"pressure":1020,"humidity":52,"dew_point":31.44,"uvi":1.26,"clouds":20,"visibility":10000,"wind_speed":11.74,"wind_deg":295,"wind_gust":16.28,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}],"pop":0},{"dt":1637092800,"temp":47.52,"feels_like":43.02,"pressure":1021,"humidity":51,"dew_point":30.51,"uvi":0.66,"clouds":33,"visibility":10000,"wind_speed":9.84,"wind_deg":298,"wind_gust":15.1,"weather":[{"id":802,[...]
