---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/search/photos?client_id=jhO_cX_NxPFBajRYnXyXmkp31VpOlJNA_iHcEFLMuCs&per_page=1&query=orlando
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Unsplash-Version:
      - v1
      Warning:
      - The tags property in this endpoint is deprecated. https://changelog.unsplash.com/deprecations/2021/07/12/tags-search-deprecation.html
      Link:
      - <https://api.unsplash.com/search/photos?client_id=jhO_cX_NxPFBajRYnXyXmkp31VpOlJNA_iHcEFLMuCs&page=1170&per_page=1&query=orlando>;
        rel="last", <https://api.unsplash.com/search/photos?client_id=jhO_cX_NxPFBajRYnXyXmkp31VpOlJNA_iHcEFLMuCs&page=2&per_page=1&query=orlando>;
        rel="next"
      X-Total:
      - '1170'
      X-Per-Page:
      - '1'
      Etag:
      - W/"61ba5009d344d1cc20576c7186659b91"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: '{"total":1170,"total_pages":1170,"results":[{"id":"Tyn3-Cljx-A","created_at":"2020-12-28T14:53:54-05:00","updated_at":"2021-11-27T01:22:09-05:00","promoted_at":null,"width":6720,"height":4480,"color":"#8cc0f3","blur_hash":"LoB}z,%gt6oex{ocoKj[X=WYWCj[","description":"Sunrise
        walk around Lake Eola park in Orlando, FL on a chilly December morning.","alt_description":"city
        skyline across body of water during daytime","urls":{"raw":"https://images.unsplash.com/photo-1609184889233-eff6dd93def4?ixid=MnwyNzU5MDV8MHwxfHNlYXJjaHwxfHxvcmxhbmRvfGVufDB8fHx8MTYzODA1Mjk3NQ\u0026ixlib=rb-1.2.1","full":"https://images.unsplash.com/photo-1609184889233-eff6dd93def4?crop=entropy\u0026cs=srgb\u0026fm=jpg\u0026ixid=MnwyNzU5MDV8MHwxfHNlYXJjaHwxfHxvcmxhbmRvfGVufDB8fHx8MTYzODA1Mjk3NQ\u0026ixlib=rb-1.2.1\u0026q=85","regular":"https://images.unsplash.com/photo-1609184889233-eff6dd93def4?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyNzU5MDV8MHwxfHNlYXJjaHwxfHxvcmxhbmRvfGVufDB8fHx8MTYzODA1Mjk3NQ\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=1080","small":"https://images.unsplash.com/photo-1609184889233-eff6dd93def4?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyNzU5MDV8MHwxfHNlYXJjaHwxfHxvcmxhbmRvfGVufDB8fHx8MTYzODA1Mjk3NQ\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=400","thumb":"https://images.unsplash.com/photo-1609184889233-eff6dd93def4?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyNzU5MDV8MHwxfHNlYXJjaHwxfHxvcmxhbmRvfGVufDB8fHx8MTYzODA1Mjk3NQ\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=200"},"links":{"self":"https://api.unsplash.com/photos/Tyn3-Cljx-A","html":"https://unsplash.com/photos/Tyn3-Cljx-A","download":"https://unsplash.com/photos/Tyn3-Cljx-A/download?ixid=MnwyNzU5MDV8MHwxfHNlYXJjaHwxfHxvcmxhbmRvfGVufDB8fHx8MTYzODA1Mjk3NQ","download_location":"https://api.unsplash.com/photos/Tyn3-Cljx-A/download?ixid=MnwyNzU5MDV8MHwxfHNlYXJjaHwxfHxvcmxhbmRvfGVufDB8fHx8MTYzODA1Mjk3NQ"},"categories":[],"likes":4,"liked_by_user":false,"current_user_collections":[],"sponsorship":null,"topic_submissions":{"travel":{"status":"rejected"}},"user":{"id":"C56nwr4eJk0","updated_at":"2021-11-27T16:13:13-05:00","username":"rocinante_11","name":"Mick
        Haupt","first_name":"Mick","last_name":"Haupt","twitter_username":"mickhaupt","portfolio_url":"https://www.flickr.com/people/rocinante11/","bio":"Grew
        up learning photography on a Pentax ME Super film camera and loving the outdoors.
        Have a deep appreciation for nature, trees, and beauty. I shoot for a non-profit,
        but love to get out where few people are. IG @mickhaupt102085  Tw @mickhaupt","location":"Orlando,
        FL","links":{"self":"https://api.unsplash.com/users/rocinante_11","html":"https://unsplash.com/@rocinante_11","photos":"https://api.unsplash.com/users/rocinante_11/photos","likes":"https://api.unsplash.com/users/rocinante_11/likes","portfolio":"https://api.unsplash.com/users/rocinante_11/portfolio","following":"https://api.unsplash.com/users/rocinante_11/following","followers":"https://api.unsplash.com/users/rocinante_11/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1511813982085-1088424e7a69?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=32\u0026w=32","medium":"https://images.unsplash.com/profile-1511813982085-1088424e7a69?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=64\u0026w=64","large":"https://images.unsplash.com/profile-1511813982085-1088424e7a69?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=128\u0026w=128"},"instagram_username":"mickhaupt102085","total_collections":33,"total_likes":951,"total_photos":1259,"accepted_tos":true,"for_hire":false,"social":{"instagram_username":"mickhaupt102085","portfolio_url":"https://www.flickr.com/people/rocinante11/","twitter_username":"mickhaupt","paypal_email":null}},"tags":[{"type":"search","title":"lake
        eola"},{"type":"search","title":"orlando"},{"type":"search","title":"fl"}]}]}'
  recorded_at: Sat, 27 Nov 2021 22:42:57 GMT
recorded_with: VCR 6.0.0
