---
http_interactions:
- request:
    method: get
    uri: https://api.openbrewerydb.org/breweries?by_dist=38.8977,77.0365&per_page=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"71cd53aac84ae851b60303185ab589af"
    body:
      encoding: UTF-8
      string: '[{"id":"mescan-brewery-kilsallagh","name":"Mescan Brewery","brewery_type":"micro","street":"Cartoor","address_2":null,"address_3":null,"city":"Kilsallagh","state":null,"county_province":"Mayo","postal_code":"F28
        FW70","country":"Ireland","longitude":"9.73047","latitude":"53.7471934","phone":"3.53868E+11","website_url":"https://www.mescanbrewery.com/","updated_at":"2021-10-23T02:24:55.243Z","created_at":"2021-10-23T02:24:55.243Z"},{"id":"jaw-brew-milngavie","name":"Jaw
        Brew","brewery_type":"micro","street":"26 Crossveggate","address_2":null,"address_3":null,"city":"Milngavie","state":null,"county_province":"East
        Dunbartonshire","postal_code":"G62 6RA","country":"Scotland","longitude":"55.9408943","latitude":"-4.3131808","phone":"7880690995","website_url":"https://www.jawbrew.co.uk/","updated_at":"2021-10-23T02:24:55.243Z","created_at":"2021-10-23T02:24:55.243Z"},{"id":"late-nigh[...]
