---
http_interactions:
- request:
    method: get
    uri: https://api.openbrewerydb.org/breweries?by_dist=40.039401,-76.307078&per_page=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"791278274c904c27453dfeddaa7d1e0b"
    body:
      encoding: UTF-8
      string: '[{"id":"wacker-brewing-co-lancaster","name":"Wacker Brewing Co","brewery_type":"micro","street":"417
        W Grant St","address_2":null,"address_3":null,"city":"Lancaster","state":"Pennsylvania","county_province":null,"postal_code":"17603","country":"United
        States","longitude":"-76.31365439","latitude":"40.03799427","phone":"7176172711","website_url":"http://www.wackerbrewing.com","updated_at":"2021-10-23T02:24:55.243Z","created_at":"2021-10-23T02:24:55.243Z"},{"id":"lancaster-brewing-co-lancaster","name":"Lancaster
        Brewing Co","brewery_type":"micro","street":"302 N Plum St # 304","address_2":null,"address_3":null,"city":"Lancaster","state":"Pennsylvania","county_province":null,"postal_code":"17602-2402","country":"United
        States","longitude":"-76.29853301","latitude":"40.0438635","phone":"7173916258","website_url":"http://www.lancasterbrewing.com","updated_at":"2021-10-23T02:24:55.243Z","created_at":"2021-10[...]
