---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/search/photos?client_id=jhO_cX_NxPFBajRYnXyXmkp31VpOlJNA_iHcEFLMuCs&per_page=1&query=chicago
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Unsplash-Version:
      - v1
      Warning:
      - The tags property in this endpoint is deprecated. https://changelog.unsplash.com/deprecations/2021/07/12/tags-search-deprecation.html
      Link:
      - <https://api.unsplash.com/search/photos?client_id=jhO_cX_NxPFBajRYnXyXmkp31VpOlJNA_iHcEFLMuCs&page=3899&per_page=1&query=chicago>;
        rel="last", <https://api.unsplash.com/search/photos?client_id=jhO_cX_NxPFBajRYnXyXmkp31VpOlJNA_iHcEFLMuCs&page=2&per_page=1&query=chicago>;
        rel="next"
      X-Total:
      - '3899'
      X-Per-Page:
      - '1'
      Etag:
      - W/"6d6029618ffb1ec787882f7734d4d42e"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '47'
    body:
      encoding: ASCII-8BIT
      string: '{"total":3899,"total_pages":3899,"results":[{"id":"Nyvq2juw4_o","created_at":"2016-10-31T20:26:28-04:00","updated_at":"2021-11-27T10:01:55-05:00","promoted_at":"2016-10-31T20:26:28-04:00","width":3465,"height":2131,"color":"#0c2640","blur_hash":"LhEMa,W=WVWW_4kBjtW=?bkBaefR","description":"City
        architecture and skyscrapers near waterfront","alt_description":"white and
        brown city buildings during daytime","urls":{"raw":"https://images.unsplash.com/photo-1477959858617-67f85cf4f1df?ixid=MnwyNzU5MDV8MHwxfHNlYXJjaHwxfHxjaGljYWdvfGVufDB8fHx8MTYzODA1Mjk3OA\u0026ixlib=rb-1.2.1","full":"https://images.unsplash.com/photo-1477959858617-67f85cf4f1df?crop=entropy\u0026cs=srgb\u0026fm=jpg\u0026ixid=MnwyNzU5MDV8MHwxfHNlYXJjaHwxfHxjaGljYWdvfGVufDB8fHx8MTYzODA1Mjk3OA\u0026ixlib=rb-1.2.1\u0026q=85","regular":"https://images.unsplash.com/photo-1477959858617-67f85cf4f1df?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyNzU5MDV8MHwxfHNlYXJjaHwxfHxjaGljYWdvfGVufDB8fHx8MTYzODA1Mjk3OA\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=1080","small":"https://images.unsplash.com/photo-1477959858617-67f85cf4f1df?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyNzU5MDV8MHwxfHNlYXJjaHwxfHxjaGljYWdvfGVufDB8fHx8MTYzODA1Mjk3OA\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=400","thumb":"https://images.unsplash.com/photo-1477959858617-67f85cf4f1df?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyNzU5MDV8MHwxfHNlYXJjaHwxfHxjaGljYWdvfGVufDB8fHx8MTYzODA1Mjk3OA\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=200"},"links":{"self":"https://api.unsplash.com/photos/Nyvq2juw4_o","html":"https://unsplash.com/photos/Nyvq2juw4_o","download":"https://unsplash.com/photos/Nyvq2juw4_o/download?ixid=MnwyNzU5MDV8MHwxfHNlYXJjaHwxfHxjaGljYWdvfGVufDB8fHx8MTYzODA1Mjk3OA","download_location":"https://api.unsplash.com/photos/Nyvq2juw4_o/download?ixid=MnwyNzU5MDV8MHwxfHNlYXJjaHwxfHxjaGljYWdvfGVufDB8fHx8MTYzODA1Mjk3OA"},"categories":[],"likes":2670,"liked_by_user":false,"current_user_collections":[],"sponsorship":null,"topic_submissions":{},"user":{"id":"1--L3vNK0TA","updated_at":"2021-11-27T11:38:41-05:00","username":"peterlaster","name":"Pedro
        Lastra","first_name":"Pedro","last_name":"Lastra","twitter_username":null,"portfolio_url":"https://www.flickr.com/photos/lastingimages/","bio":null,"location":null,"links":{"self":"https://api.unsplash.com/users/peterlaster","html":"https://unsplash.com/@peterlaster","photos":"https://api.unsplash.com/users/peterlaster/photos","likes":"https://api.unsplash.com/users/peterlaster/likes","portfolio":"https://api.unsplash.com/users/peterlaster/portfolio","following":"https://api.unsplash.com/users/peterlaster/following","followers":"https://api.unsplash.com/users/peterlaster/followers"},"profile_image":{"small":"https://images.unsplash.com/placeholder-avatars/extra-large.jpg?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=32\u0026w=32","medium":"https://images.unsplash.com/placeholder-avatars/extra-large.jpg?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=64\u0026w=64","large":"https://images.unsplash.com/placeholder-avatars/extra-large.jpg?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=128\u0026w=128"},"instagram_username":null,"total_collections":10,"total_likes":46,"total_photos":86,"accepted_tos":false,"for_hire":false,"social":{"instagram_username":null,"portfolio_url":"https://www.flickr.com/photos/lastingimages/","twitter_username":null,"paypal_email":null}},"tags":[{"type":"landing_page","title":"chicago","source":{"ancestry":{"type":{"slug":"wallpapers","pretty_slug":"HD
        Wallpapers"},"category":{"slug":"travel","pretty_slug":"Travel"},"subcategory":{"slug":"chicago","pretty_slug":"Chicago"}},"title":"HD
        Chicago Wallpapers","subtitle":"Download Free Chicago Wallpapers","description":"Choose
        from a curated selection of Chicago wallpapers for your mobile and desktop
        screens. Always free on Unsplash.","meta_title":"Chicago Wallpapers: Free
        HD Download [500+ HQ] | Unsplash","meta_description":"Choose from hundreds
        of free Chicago wallpapers. Download HD wallpapers for free on Unsplash.","cover_photo":{"id":"Nyvq2juw4_o","created_at":"2016-10-31T20:26:28-04:00","updated_at":"2021-11-25T10:13:16-05:00","promoted_at":"2016-10-31T20:26:28-04:00","width":3465,"height":2131,"color":"#0c2640","blur_hash":"LhEMa,W=WVWW_4kBjtW=?bkBaefR","description":"City
        architecture and skyscrapers near waterfront","alt_description":"white and
        brown city buildings during daytime","urls":{"raw":"https://images.unsplash.com/photo-1477959858617-67f85cf4f1df?ixlib=rb-1.2.1","full":"https://images.unspl[...]
